/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card-2 {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 257px;
    margin-top: 40px;
}

.card img {
    object-fit: cover;
}

.card-2 {
    object-fit: cover;
}

.card-title, .card-title-2 {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}



                /* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.logo-booki img {
    width: 15%;
    height: auto;
    margin-top: 30px;
}

.menu-navbar {
    width: 260px;
    justify-content: space-between;
}

.navbar-list .list-nav {
    height: 100%;
}

.navbar-list {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
}

.list-nav::before {
    content:'';
    position: absolute;
    background-color: #0065FC;
    width: 0;
    height: 3px;
    top: -24px;
    left:0;
    transition: width 0.4s ease-in-out;

}

.list-nav:hover:before {
    width: 100%;
}

.surlign {
    position: relative;
    height: 100%;
}

.surlign:hover a {
    color: var(--main-color);
}


                /* Info */

.info-text h2 {
    padding-bottom: 10px;
}

.info-text p {
    padding-bottom: 35px;
}

                /* Rechercher */

form {
    display: flex;
    height: 50px;
}

.form-container {
    display: flex;
}

.fa-location-dot {
    display: flex;
    justify-content: center;
    padding-top: 25%;
    color: black;
}

.form-container label {
    width: 90px;
    font-size: 20px;
    border-radius: 15px 0 0 15px;
    cursor: pointer;
    background-color: #F2F2F2;
}

.form-container input[type='text'] {
    max-width: 300px;
    min-width: 100px;
    width: 100%;
    padding: 15px;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid #F2F2F2
}

.form-button {
    position: relative;
    right: 15px;
    font-size: 20px;  
    border-radius: 10px;
}

.button-desktop {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    color: white;
    background-color: var(--main-color);
}

.button-mobile {
    display: none;
    width: 50px;
    height: 100%;
    padding: 0 10px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: var(--main-bg-color);
}


                /* Filtres */

.filter-container {
    display: flex;
    align-items: center;
    margin: 30px 0;
    width: 50%;    
    justify-content: space-between;
}

.filter {
    display: flex;
    border-radius: 20px;
    height: 40px;
    background-color: white;
    border: 1px solid rgb(231, 220, 220);
    width: auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-weight: 900;
}

.filter:hover {
    background-color: var(--filter-bg-color);
}

.logo-filter {
    margin-right: 8px;
}

                /* Infos */
.info-container {
    display: flex;
    align-items: center;
}

.info-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid var(--main-bg-color);
    border-radius: 20px;
    margin-right: 10px;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergement {
    width: 65%;
}

.hebergement-card {
    display: flex;
    margin-top: 33px;
}

.hebergement-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergement-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergement .card {
    display: flex;
    margin-top: 33px;
}

.hebergement img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergement .card-content-2 {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergement .card-title-2 {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergement .card-subtitle-2 {
    margin: 0;
}

.hebergement .card-rating-2 {
    margin-bottom: 5px;
}

h4 {
    padding-top: 20px;
    color: black;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires .card {
    display: flex;
    margin-top: 33px;
}

.populaires img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires .card-subtitle {
    margin: 0;
}

.populaires .card-rating {
    margin-bottom: 5px;
}


/****** Populaires ***********/

.activity-card {
    height: 300px;
    width: 50px;
    border-radius: 30px;

}


                /* Activités */

.activity {
    margin-top: 80px;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 550px;
    width: 100%;
    gap: 2.6%;
    margin: 40px 0 60px;
}

.card-link {
    position: relative;
    width: 23%;
    height: 430px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.379);
}

.card-activity {
    height: 100%;
}

.card-activity-img {
    height: 85%;
    width: 100%;
    background-position: center;
}

.card-activity-img-1 {
    background-image: url("/images/activites/reno-laithienne.jpg");
}

.card-activity-img-2 {
    background-image: url("/images/activites/paul-hermann.jpg");
}
.card-activity-img-3 {
    background-image: url("/images/activites/kilyan-sockalingum.jpg");
}
.card-activity-img-4 {
    background-image: url("/images/activites/florian-wehde.jpg");
}

.card-content-3 {
    height: 15%;
}

.card-txt {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 30px;
    color: black;
    background-color: white;
}

.card-txt-1 {
    margin: 23px 0 0 20px;
}

.card-txt-3 {
    margin: 23px 0 0 20px;
}



                /* Footer */

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    background-color: var(--main-bg-color);
}

.footer-props, .footer-hebergement, .footer-assist {
    width: 30%; 
}

.footer-container h2 {
    margin-bottom: 20px;
}

.footer-choice {
    margin-bottom: 10px;
}

.footer-choice a:hover {
    color: var(--main-color);
}

.footer-container ul {
    padding-left: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement

***** Media queries **********
Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .navbar {
        width: 100%;
    }

    .filter {
        width: 20%;
    }

    .small-screen-filter {
        width: auto;
    }

    .filter-container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;
    }

    .filter-container-h2 {
        width: 100%;
        text-align: left;
        order: 1;
        font-size: large;
    }

    .filter-container .filter {
        order: 2;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergement {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .card-container {
        height: 270px;
    }

    .card-txt-1 {
        margin: 23px 0 0 20px;
    }
    .card-txt-3 {
        margin: 15px 0 0 20px;
    }

    .card-activity-img {
        height: 75%;
    }

    .footer-container {
        width: 100%;
    }
}

/* Small devices (phones, less than 768px) */

/* Navbar */

@media (max-width: 768px) {
    .main-container {
        width: 100%;
        padding: 0;
    }

    .navbar {
        width: 100%;
        height: 150px;
        flex-direction: column;
    }

    .logo-booki{
        width: auto;
    }

    .logo-booki a {
        display: flex;
        justify-content: center;
    }

    .navbar-list {
        width: 100%;
    }

    .menu-navbar {
        width: 100%;
        height: 60px;
    }

    .menu-navbar ul {
        justify-content: space-around;
        font-size: 30px;
    }


    /* Info */

    .info-group, .filter-container, .info-container {
        padding: 0 30px;
    }

    .info-group {
        width: 100%;
    }

    .info-group h2 {
       font-size: 40px;
    }

    .filter-container-filter {
        width: 100%;
    }

    .filter-container-h2 {
        order: 0;
    }

    .info-group p {
        margin-top: 10px;
        font-size: 29px;
    }

    .info-text {
        width: 80%;
    }

    .section-search {
        width: 100%;
    }

    form {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .form-container {
        width: 100%;
    }

    .filter-container-filter {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .small-screen-filter {
        width: 45%;
        height: 80px;
        border-radius: 45px;
        justify-content: flex-start;
        font-size: 4vw;
    }

    .logo-filter {
        margin: 0 30px;

    }
    /* Hebergement et populaire */

    .populaires {
        order: -1;
        width: 100%;
    }

    .info-group {
        margin-top: 60px;
    }

    .hebergements-and-populaires {
        width: 100%;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergement-title {
        margin-bottom: 20px;
    }

    .populaires-title h2 {
       font-size: 40px;
       margin-bottom: 5px;
    }

    .populaires-cards {
        align-items: center;
    }

    .populaires-cards, .hebergement-cards {
        flex-direction: column;
        gap: 30px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .card-2 {
        width: 100%;
        height: 290px;
        margin-top: 0;
    }

    .hebergement img {
        height: 180px;
    }

    .card-link {
        width: 85%;
    }

    .activity {
        width: 100vw;
    }

    .activity h3 {
        margin-left: 60px;
        font-size: xx-large;
    }

    .activity .card-container {
        height: auto;
        gap: 50px;
    }


    .footer-container {
        flex-direction: column;
    }

    .footer-props {
        margin-left: 60px;
        font-size: x-large;
    }
}